
<div class="row">
  <div class="col-md-8">
    <div class="card">
    	<div class="header">
          <h4 class="title"><%= params[:id].present? ? "Edit" : "Create" %> New Coupon</h4>
         </div>
          <div class="content">
                <%= simple_form_for(@coupon) do |f| %>
                  <%= f.error_notification %>
                    <div class="form-group">
                      <%= f.input :name, label: false, input_html: { class: "form-control" , placeholder: "Coupon Name"}  %>
                    </div>

                    <div class="form-group">
                     <%= f.input :coupon_type, collection: ["Three Months Free","Six Months Free", "One Single Free Ad"], prompt: "Select Coupon Type" , label: false, input_html: { class: "form-control" , placeholder: "Coupon Type"}  %>
                    </div>


                   <div class="form-group">
                     <%= f.input :description, label: false, input_html: { class: "form-control" , placeholder: "Description"}  %>
                   </div>

                  <div class="form-group">
                    <%= f.input :coupon_expired_date,  as: :string, label: false, input_html: { class: "form-control" , id: "coupon_expired_date",  placeholder: "Coupon expired date"}  %>
                  </div>

                  <div class="form-group">
                   <%= f.input :max_limit,  label: false, input_html: { class: "form-control" ,  placeholder: "Number Of Coupons"}  %>
                  </div>


                 <div class="form-group">
                   <%= f.hidden_field :status,  value: "active"  %>
                 </div>

              </div>

                  <div class="form-actions col-md-offset-5">
                    <%= f.button :submit , class: 'btn btn-round btn-fill btn-primary' %>  | <%= link_to 'Back', coupons_path %>
                  </div>
                <% end %>
                 <br/>
             </div>
       </div>
    </div>

