<div  id="post_<%= education.id %>"  class="educations">
	<div class="col-xs-12">
		<div class="card" style="padding: 10px; padding-bottom:0px">
			<div class="title">
				<h4><%= education.degree_type %><small> - <%= education.degree %></small></h4>
			</div>
			<div class="item-block" style ="float:right" >
               <%= link_to 'Edit', "javascript::void(0)" , :class => "btn btn-fill btn-xs btn-info btn-round", "data-toggle": "modal", "data-target": "#editeducation#{education.id}"  %>
 				<%= link_to 'Delete', education, :class => "btn btn-fill btn-xs btn-danger btn-round",  method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
			<% if education.present == "1" %>
			<h6 class="time"><%= month_date education.date_start %> - Present </h6>
			<% else %>
			<h6 class="time"><%= month_date education.date_start %> - <%= month_date education.date_end %></h6>
			<% end %>
			</header>
            <div class="item-body">
                <p><%= education.school_name %></p>
            </div>
		</div>
	</div>
</div>

<%= render 'educations/edit_education_form' , education: education , editeducation: "editeducation#{education.id}" %>